<!DOCTYPE html>
<html>

<head>
    <title>Account Interface</title>
    <!-- Add CSS and JavaScript as needed -->
    
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>
    <div class="container">
        <div class="account-list">
            <h2>Accounts</h2>
            <button id="import_accounts_button" onclick="importAccounts()">Import Accounts</button>
            <div id="spinner" style="display:none;"></div>
            <ul id="accounts-lis">
                {% for account in accounts %}
                <li>
                    {{ account.nickname }}
                    <button onclick="toggleCharacters('{{ account.nickname }}')">↓</button>
                    <ul id="chars-{{ account.nickname }}" style="display:none;">
                        {% for character in account.characters %}
                        <li>
                            {{ character.name }}
                            <button onclick="openFarmModal('{{ account.id }}', '{{ character.id }}')">Farm</button>
                            <button onclick="runTreasurehunt('{{ account.id }}', '{{ character.id }}')">Treasurehunt</button>
                            <button onclick="openFightModal('{{ account.id }}', '{{ character.id }}')">Fight</button>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>

        <div class="bot-list" id="runningBotsPanel">
            <h2>Running Bots</h2>
            <table id="runningBotsTable">
                <thead>
                    <tr>
                        <th>Character</th>
                        <th>Level</th>
                        <th>Kamas</th>
                        <th>Pods</th>
                        <th>Fights Count</th>
                        <th>Earned Kamas</th>
                        <th>Earned Levels</th>
                        <th>Path</th>
                        <th>Activity</th>
                        <th>Run Time</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- JavaScript will dynamically insert rows here -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal for Showing Logs -->
    <div id="logModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button" onclick="closeLogModal()">&times;</span>
            <h2>Log Details</h2>
            <pre id="logDetails"></pre>
        </div>
    </div>

    <!-- Model for Fight session -->
    <div id="fightModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button" onclick="closeFightModal()">&times;</span>
            <h2>Run Solo Fight</h2>
            <form id="fightSessionForm" onsubmit="submitFightForm(); return false;">
                <label for="fightPathsSelect">Path:</label>
                <select id="fightPathsSelect"></select>

                <label for="monsterLvlCoefDiffInput">Monster Level Coeff. Diff.:</label>
                <input type="number" id="monsterLvlCoefDiffInput" step="any" min="0">

                <input type="hidden" id="fightAccountId">
                <input type="hidden" id="fightCharacterId">

                <button type="submit">Start Fight</button>
            </form>
        </div>
    </div>

    <!-- Modal for farm session -->
    <div id="farmModal" class="modal" style="display: none;">
        <div class="modal-content">
            <span class="close-button" onclick="closeFarmModal()">&times;</span>
            <h2>Run Farm</h2>
            <form id="farmSessionForm" onsubmit="submitFarmForm(); return false;">
                <label for="sessionTypeSelect">Session Type:</label>
                <select id="sessionTypeSelect">
                    <!-- Options will be filled based on data from the backend -->
                </select>
                <label for="number_of_covers">Number of covers:</label>
                <input type="number" id="number_of_covers" step="any" min="1">
                <div id="pathsContainer">
                    <label for="pathsSelect">Path:</label>
                    <select id="pathsSelect" multiple size="5">
                        <!-- Options will be added dynamically -->
                    </select>
                </div>
            
                <div id="jobFiltersContainer">
                    <!-- Job filters will be added dynamically -->
                </div>

                <input type="hidden" id="farmAccountId">
                <input type="hidden" id="farmCharacterId">

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
</body>

</html>